<footer class="bg-dark text-center text-white py-3 fixed-bottom">
  <div class="container">
    <p class="mb-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
      distinctio earum repellat quaerat voluptatibus placeat nam,
      commodi optio pariatur est quia magnam eum harum corrupti
      dicta, aliquam sequi voluptate quas.
    </p>
    <div class="mb-2">
      <a href="#" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="text-white me-4"><i class="fab fa-twitter"></i></a>
      <a href="#" class="text-white me-4"><i class="fab fa-google"></i></a>
      <a href="#" class="text-white me-4"><i class="fab fa-instagram"></i></a>
      <a href="#" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
      <a href="#" class="text-white me-4"><i class="fab fa-github"></i></a>
    </div>
    <div class="text-center small">
      © Julian Ariel Millen
    </div>
  </div>
</footer>
